@media only screen and (max-width: 768px) and (min-width: 427px) {
  /* DISPLAY NONES */

  .second-nav {
    display: none;
  }

  .nav-bar p {
    display: none;
  }
  /* DISPLAY NONES */

  .wrapper {
    overflow-x: hidden;
  }

  nav {
    height: 60px;
    margin: 10px;
    border: 0px;
    width: 768px;
  }

  nav img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    position: relative;
    bottom: 15px;
  }

  nav i {
    font-size: 15px;
  }

  .left-side {
    width: 100%;
  }

  .topCar {
    display: block;
    flex: 1;
    margin-top: 10px;
  }

  .topMenu {
    display: block;
    flex: 1;
    position: relative;
    right: 360px;
    margin-top: 10px;
  }

  .topSearch {
    position: relative;
    right: 10px;
    bottom: 20px;
    color: white;
  }

  .third-nav {
    height: 25px;
    width: 680px;
    top: 100px;
    left: 30px;
  }

  .third-nav p {
    font-size: 10px;
  }

  .third-nav .fa-angle-down {
    font-size: 15px;
    position: relative;
    left: -25px;
    top: 0px;
  }

  #item10 {
    right: 30px;
  }

  #item11 {
    right: 60px;
  }

  #item12 {
    right: 90px;
  }

  #item13,
  #item14,
  #item15 {
    display: none;
  }

  #item16 {
    display: block;
  }
  .car-container {
    background-size: 100%;
  }

  .hidden-menu {
    height: 30px;
    right: 235px;
    position: fixed !important;
  }

  .list1,
  .list2,
  .list3,
  .list4,
  .list5 {
    font-size: 13px;
    padding-top: 10px;
    padding-left: 13px;
  }

  .list1 i,
  .list2 i,
  .list3 i,
  .list4 i,
  .list5 i {
    font-size: 15px;
  }

  .list1 p,
  .list2 p,
  .list3 p,
  .list4 p,
  .list5 p {
    flex: 2;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
  }

  .product-description {
    width: 210px;
    left: 30px;
    top: 140px;
    letter-spacing: 0px;
    line-height: 25px;
    padding: 15px;
  }

  .product-description h3 {
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-align: left;
  }

  .purchase-info {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 350px;
    left: 40px;
    padding: 10px;
    background-color: rgb(14, 165, 235);
  }

  .purchase-info p {
    font-size: 15px;
    position: relative;
    top: -5px;
    font-weight: bold;
    line-height: 20px;
    width: 59px;
  }

  .purchase-info i {
    top: -15px;
    left: 70px;
    font-size: 15px;
  }

  .hidden-nav {
    width: 165px;
    height: 270px;
    top: 128px;
    left: -250px;
  }

  .hidden-nav h3 {
    font-size: 12px;
  }

  .hidden-nav li {
    font-size: 20px;
    line-height: 38px;
    margin-left: 5px;
  }

  .hidden-nav li span {
    margin-left: 20px;
    font-size: 10px;
    top: 8px;
  }

  .display-bulletPoint ul {
    font-size: 20px;
    line-height: 40px;
    top: 183px;
  }

  .pricing-info-container {
    position: relative;
    top: -300px;
    left: 30px;
  }

  .find-out h1 {
    position: relative;
    top: 30px;
    right: 20px;
    font-size: 30px;
  }

  .pricing-images {
    width: 70%;
    left: 80px;
  }

  .pricing-left .fa-pound-sign {
    font-size: 50px;
    left: 40%;
  }

  .pricing-right .fa-scroll {
    font-size: 50px;
    left: 40%;
  }

  .caption {
    font-size: 20px;
    left: 17%;
  }

  .captionRight {
    font-size: 20px;
    left: 20%;
  }

  .button {
    height: 30px;
    left: 15%;
    bottom: 10px;
  }

  .buttonRight {
    height: 30px;
    left: 15%;
    bottom: 10px;
  }

  .button p,
  .buttonRight p {
    font-size: 12px;
  }

  .button p {
    margin-top: 2px;
  }

  .button i,
  .buttonRight i {
    position: relative;
    top: 1px;
  }

  .shop-from-home {
    padding: 20px;
    margin-top: 30px;
    position: relative;
    top: -300px;
    left: 20px;
  }

  .left-content h3 {
    font-size: 25px;
    margin-bottom: 30px;
    left: 10px;
  }

  .para-content {
    font-size: 15px;
    left: 10px;
    margin-bottom: 50px;
    width: 80%;
  }

  .buttons {
    display: flex;
    position: relative;
    left: 10px;
    font-weight: 900;
    font-family: "Oxygen", monospace;
  }

  .buy-button {
    width: 150px;
  }

  .find-out-more {
    width: 120px;
  }

  .buy-button p,
  .find-out-more p {
    font-size: 12px;
    left: 20px;
    top: 7px;
  }

  .buy-button .fa-chevron-right,
  .find-out-more .fa-chevron-right {
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 12px;
  }

  .right-content img {
    height: 200px;
    width: 320px;
    position: relative;
    right: 10px;
    top: 20px;
  }

  .corner-search {
    height: 25px;
    width: 25px;
    right: 30px;
    bottom: 105px;
  }

  .corner-search i {
    font-size: 18px;
    position: relative;
    bottom: 7px;
    right: 1px;
  }

  .products-services {
    padding: 20px;
    position: relative;
    bottom: 250px;
    width: 75%;
  }

  .sub-title h2 {
    left: 30px;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .underline {
    border-bottom: 1px solid white;
    left: 30px;
  }

  .financing-insuring h3 {
    font-size: 20px;
    left: 30px;
  }

  .products-services p {
    font-family: "Oxygen", monospace;
    font-size: 14px;
    position: relative;
    bottom: 5px;
  }

  .productButtons {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    bottom: 30px;
    left: 20px;
  }

  .insurance,
  .servicing {
    height: 25px;
    width: 80px;
    left: 10px;
  }

  .personal-finance {
    height: 25px;
    width: 120px;
    left: 10px;
  }

  .personalFinancePics {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
    left: 30px;
  }

  .personalFinancePics img,
  .personalContactHire img,
  .personal-operating img {
    height: 180px;
    width: 320px;
    position: relative;
  }

  .agilityAnim,
  .hirePurchaseAnim,
  .personalOperatingAnim {
    position: relative;
    top: 00px;
  }

  .agility,
  .motor-insurance {
    position: relative;
    right: 30px;
  }

  .hire-purchase {
    position: relative;
    right: 15px;
  }

  .personal-operating {
    position: relative;
    right: 350px;
    top: 235px;
  }

  .personalContactHire {
    position: relative;
    right: 30px;
    bottom: 19px;
    left: 0px;
  }

  .first-cover {
    right: 30px;
  }

  .serviceTab {
    right: 30px;
  }

  .plus1,
  .plus2,
  .plus3,
  .plus4 {
    width: 20px;
    height: 20px;
    bottom: 50px;
    font-size: 15px;
    padding-top: 2px;
  }

  .plus1,
  .plus4 {
    left: 335px;
  }

  .plus2 {
    left: 315px;
  }

  .plus3 {
    left: 295px;
  }

  .genuine-accessories {
    position: relative;
    top: 0px;
  }

  .genuine-info-container {
    display: flex;
    justify-content: space-between;
    width: 768px !important;
  }

  .genuine-info-container p {
    font-size: 14px;
    left: 30px;
    margin-right: 10px;
    bottom: 30px;
    font-weight: 400;
    width: 280px;
  }

  .genuine-info-container img {
    left: -40px;
    height: 200px;
    width: 400px;
  }

  .genuine-corner-search {
    height: 25px;
    width: 25px;
    font-size: 15px;
    top: 175px;
    right: -192px;
  }

  .genuineButton {
    left: 30px;
    bottom: 10px;
    width: 190px;
  }

  .genuineButton p {
    padding-top: 2px;
    margin-right: 0px;
    left: 0px;
    top: 6px;
    font-size: 12px !important;
  }

  .cost-comparison {
    top: 0px;
  }

  .cost-compare h2 {
    font-size: 12px;
  }

  .cost-compare {
    width: 41%;
    bottom: 25px;
  }

  .cost-compare img {
    height: 70px;
    width: 70px;
    margin-left: 30px;
  }

  .costButton {
    width: 110px;
    left: 10px;
  }

  .costButton p {
    top: 0px;
  }

  .footnote {
    left: 10px;
    width: 95%;
  }

  .footnoteAnim {
    top: 0px;
  }

  .tileUnder {
    margin-top: 00px;
    left: 10px;
    top: 50px;
  }

  .tiles {
    left: 0px;
    top: 100px;
  }

  .tile {
    display: flex;
    width: 125px;
    height: 110px;
    padding: 15px;
  }

  .tile i {
    font-size: 30px;
  }

  .shopping-cart,
  .fleet {
    height: 90px;
  }

  .e-brochure {
    right: 0px;
  }

  .plug-ins {
    right: 5px;
  }

  .fleet {
    right: 10px;
  }

  .tile p {
    position: relative;
    top: 0px;
    right: 10px;
    margin-top: 15px;
    font-size: 10px;
    text-align: left;
  }

  .tile .fa-chevron-right {
    display: none;
  }

  .upButton {
    position: relative;
    right: 50px;
    bottom: 70px;
  }

  .upButton i {
    font-size: 15px;
  }

  .upButton p {
    font-size: 12px;
  }

  .sign-up {
    position: relative;
    top: 300px;
    left: 20px;
    width: 90%;
    flex-direction: column;
    height: 200px;
  }

  .left-hand h3 {
    font-size: 14px;
    font-family: "Oxygen", monospace;
    margin-bottom: 5px;
  }

  .left-hand p {
    font-size: 12px;
    text-align: left;
  }

  .subscribeButton {
    height: 40px;
    border-radius: 3px;
    width: 100%;
    position: relative;
    top: 50px;
  }

  .subscribeButton p {
    display: none;
  }

  .subP {
    display: block;
    z-index: 100;
    font-size: 14px !important;
    font-family: "Oxygen", monospace;
    font-weight: 900;
  }

  .last-part {
    left: 10px;
    top: 380px;
    flex-direction: column;
    width: 100%;
  }

  .mercedes li,
  .benz-parts li,
  .about-us li,
  .further-info li,
  .untitled li {
    display: none;
  }

  .mercedes h1,
  .benz-parts h1,
  .about-us h1,
  .further-info h1 {
    font-size: 12px !important;
    text-align: left;
    position: relative;
    left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    width: 90%;
    line-height: 0px;
  }

  .mercedes,
  .benz-parts,
  .about-us,
  .further-info,
  .untitled {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .untitled {
    left: 10px;
    top: 0px;
  }

  .legalCopyrights {
    height: 250px;
    width: 90%;
    left: 15px;
    top: 450px;
    flex-direction: column-reverse;
  }

  .legalCopyrights p {
    font-size: 12px;
    text-align: left;
  }

  .finalCaptions {
    /* background: blueviolet; */
    position: relative;
    top: -70px;
    line-height: 5px;
  }

  .legalSymbols {
    bottom: 70px;
  }

  .legalCopyrights i {
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 45px;
  }

  .closeGap,
  .privacyPolicy,
  .legalNotice,
  .cookies {
    position: relative;
    right: 0px;
  }

  .landscapeCaption {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  .chat {
    color: white;
    font-size: 70px;
    position: fixed;
    z-index: 10;
    left: 600px;
    top: 400px;
  }

  .searchPage {
    display: none;
  }
}
