@media only screen and (max-width: 1024px) and (min-width: 427px) {
  /* DISPLAY NONES */

  .second-nav {
    display: none;
  }

  .nav-bar p {
    display: none;
  }
  /* DISPLAY NONES */

  .wrapper {
    overflow: hidden;
  }

  nav {
    height: 60px;
    margin: 10px;
    border: 0px;
    width: 768px;
  }

  nav img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    position: relative;
    bottom: 15px;
  }

  nav i {
    font-size: 15px;
  }

  .left-side {
    width: 100%;
  }

  .topCar {
    display: block;
    flex: 1;
    margin-top: 10px;
  }

  .topMenu {
    display: block;
    flex: 1;
    position: relative;
    right: 360px;
    margin-top: 10px;
  }

  .topSearch {
    position: relative;
    right: 10px;
    bottom: 20px;
    color: white;
  }

  .third-nav {
    height: 25px;
    width: 680px;
    top: 40px;
    left: 30px;
    position: relative !important;
  }

  .third-nav p {
    font-size: 10px;
  }

  .third-nav .fa-angle-down {
    font-size: 15px;
    position: relative;
    left: -25px;
    top: 0px;
  }

  #item10 {
    right: 30px;
  }

  #item11 {
    right: 60px;
  }

  #item12 {
    right: 90px;
  }

  #item13,
  #item14,
  #item15 {
    display: none;
  }

  #item16 {
    display: block;
  }
  .car-container {
    background-size: 100%;
  }

  .hidden-menu {
    height: 30px;

    position: fixed !important;
  }

  .list1,
  .list2,
  .list3,
  .list4,
  .list5 {
    font-size: 13px;
    padding-top: 10px;
    padding-left: 13px;
  }

  .list1 i,
  .list2 i,
  .list3 i,
  .list4 i,
  .list5 i {
    font-size: 15px;
  }

  .list1 p,
  .list2 p,
  .list3 p,
  .list4 p,
  .list5 p {
    flex: 2;
    text-align: center;
    font-size: 10px;
    padding-bottom: 10px;
  }

  .product-description {
    width: 210px;
    left: 30px;
    top: 80px;
    letter-spacing: 0px;
    line-height: 25px;
    padding: 15px;
    position: relative;
  }

  .product-description h3 {
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-align: left;
  }

  .purchase-info {
    width: 100px;
    height: 80px;
    position: relative;
    top: 100px;
    left: 40px;
    padding: 10px;
    background-color: rgb(14, 165, 235);
  }

  .purchase-info p {
    font-size: 15px;
    position: relative;
    top: -5px;
    font-weight: bold;
    line-height: 20px;
    width: 59px;
  }

  .purchase-info i {
    top: -15px;
    left: 70px;
    font-size: 15px;
  }

  .hidden-nav {
    display: none;
  }

  .display-bulletPoint ul {
    font-size: 20px;
    line-height: 40px;
    top: 183px;
  }

  .pricing-info-container {
    position: relative;
    top: -300px;
    left: 30px;
  }

  .find-out h1 {
    position: relative;
    top: 30px;
    right: 20px;
    font-size: 30px;
  }

  .pricing-images {
    width: 70%;
    left: 80px;
  }

  .pricing-left .fa-pound-sign {
    font-size: 50px;
    left: 40%;
  }

  .pricing-right .fa-scroll {
    font-size: 50px;
    left: 40%;
  }

  .caption {
    font-size: 20px;
    left: 17%;
  }

  .captionRight {
    font-size: 20px;
    left: 20%;
  }

  .button {
    height: 30px;
    left: 15%;
    bottom: 10px;
  }

  .buttonRight {
    height: 30px;
    left: 15%;
    bottom: 10px;
  }

  .button p,
  .buttonRight p {
    font-size: 12px;
  }

  .button p {
    margin-top: 2px;
  }

  .button i,
  .buttonRight i {
    position: relative;
    top: 1px;
  }

  .shop-from-home {
    padding: 20px;
    margin-top: 30px;
    position: relative;
    top: -300px;
    left: 20px;
  }

  .left-content h3 {
    font-size: 25px;
    margin-bottom: 30px;
    left: 10px;
  }

  .para-content {
    font-size: 15px;
    left: 10px;
    margin-bottom: 50px;
    width: 80%;
  }

  .buttons {
    display: flex;
    position: relative;
    left: 10px;
    font-weight: 900;
    font-family: "Oxygen", monospace;
  }

  .buy-button {
    width: 150px;
  }

  .find-out-more {
    width: 120px;
  }

  .buy-button p,
  .find-out-more p {
    font-size: 12px;
    left: 20px;
    top: 7px;
  }

  .buy-button .fa-chevron-right,
  .find-out-more .fa-chevron-right {
    position: relative;
    top: 8px;
    left: 10px;
    font-size: 12px;
  }

  .right-content img {
    height: 200px;
    width: 320px;
    position: relative;
    right: 10px;
    top: 20px;
  }

  .corner-search {
    height: 25px;
    width: 25px;
    right: 30px;
    bottom: 105px;
  }

  .corner-search i {
    font-size: 18px;
    position: relative;
    bottom: 7px;
    right: 1px;
  }

  .products-services {
    padding: 20px;
    position: relative;
    bottom: 250px;
    width: 75%;
  }

  .sub-title h2 {
    left: 30px;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .underline {
    border-bottom: 1px solid white;
    left: 30px;
  }

  .financing-insuring h3 {
    font-size: 20px;
    left: 30px;
  }

  .products-services p {
    font-family: "Oxygen", monospace;
    font-size: 14px;
    position: relative;
    bottom: 5px;
  }

  .productButtons {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    bottom: 30px;
    left: 20px;
  }

  .insurance,
  .servicing {
    height: 25px;
    width: 80px;
    left: 10px;
  }

  .personal-finance {
    height: 25px;
    width: 120px;
    left: 10px;
  }

  .personalFinancePics {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
    left: 30px;
  }

  .personalFinancePics img,
  .personalContactHire img,
  .personal-operating img {
    height: 180px;
    width: 320px;
    position: relative;
  }

  .agilityAnim,
  .hirePurchaseAnim {
    position: relative;
    top: 0px;
  }

  .agility,
  .motor-insurance {
    position: relative;
    right: 30px;
  }

  .hire-purchase {
    position: relative;
    right: 15px;
  }

  .personal-operating {
    position: relative;
    right: 350px;
    top: 30px;
  }

  .personalContactHire {
    position: relative;
    right: 30px;
    bottom: 19px;
    left: 0px;
  }

  .first-cover {
    right: 30px;
  }

  .serviceTab {
    right: 30px;
  }

  .plus1,
  .plus2,
  .plus3,
  .plus4 {
    width: 20px;
    height: 20px;
    bottom: 50px;
    font-size: 15px;
    padding-top: 2px;
  }

  .plus1,
  .plus4 {
    left: 335px;
  }

  .plus2 {
    left: 315px;
  }

  .plus3 {
    left: 295px;
  }

  .genuine-accessories {
    position: relative;
    top: 0px;
  }

  .genuine-info-container {
    display: flex;
    justify-content: space-between;
    width: 768px !important;
  }

  .genuine-info-container p {
    font-size: 14px;
    left: 30px;
    margin-right: 10px;
    bottom: 30px;
    font-weight: 400;
    width: 280px;
  }

  .genuine-info-container img {
    left: -40px;
    height: 200px;
    width: 400px;
  }

  .genuine-corner-search {
    height: 25px;
    width: 25px;
    font-size: 15px;
    top: 175px;
    right: -192px;
  }

  .genuineButton {
    left: 30px;
    bottom: 10px;
    width: 190px;
  }

  .genuineButton p {
    padding-top: 2px;
    margin-right: 0px;
    left: 0px;
    top: 6px;
    font-size: 12px !important;
  }

  .cost-comparison {
    top: 0px;
    left: 60px;
  }

  .cost-compare h2 {
    font-size: 12px;
  }

  .cost-compare {
    width: 50%;
    bottom: 25px;
    text-align: center;
  }

  .cost-compare img {
    height: 90px;
    width: 90px;
    margin-left: 60px;
  }

  .costButton {
    width: 130px;
    left: 25px;
  }

  .costButton p {
    top: -3px;
  }

  .footnote {
    left: 30px;
    width: 700px;
  }

  .footnote p {
    font-size: 12px;
  }

  .footnoteAnim {
    top: 0px;
  }

  .tileUnder {
    margin-top: 00px;
    left: 30px;
    top: 50px;
  }

  .tiles {
    left: 20px;
    top: 100px;
  }

  .tile {
    display: flex;
    width: 255px;
    height: 150px;
    padding: 15px;
  }

  .tile i {
    font-size: 30px;
  }

  /* .shopping-cart,
  .fleet {
    height: 90px;
  } */

  .shopping-cart {
    left: 50px;
  }

  .e-brochure {
    left: 70px;
  }

  .plug-ins {
    left: 90px;
  }

  .fleet {
    left: 110px;
  }

  .tile p {
    position: relative;
    top: 20px;
    right: 10px;
    margin-top: 15px;
    font-size: 14px;
    text-align: left;
  }

  .tile .fa-chevron-right {
    display: none;
  }

  .upButton {
    position: relative;
    left: 80px;
    bottom: 70px;
  }

  .upButton i {
    font-size: 15px;
  }

  .upButton p {
    font-size: 12px;
  }

  .sign-up {
    position: relative;
    top: 300px;
    left: 40px;
    width: 650px;
    flex-direction: column;
    height: 200px;
  }

  .left-hand h3 {
    font-size: 16px;
    font-family: "Oxygen", monospace;
    margin-bottom: 5px;
  }

  .left-hand p {
    font-size: 12px;
    text-align: left;
  }

  .subscribeButton {
    height: 40px;
    border-radius: 3px;
    width: 100%;
    position: relative;
    top: 50px;
  }

  .subscribeButton p {
    display: none;
  }

  .subP {
    display: block;
    z-index: 100;
    font-size: 14px !important;
    font-family: "Oxygen", monospace;
    font-weight: 900;
    margin-top: 15px;
  }

  .last-part {
    left: 10px;
    top: 380px;
    flex-direction: column;
    width: 100%;
  }

  .mercedes li,
  .benz-parts li,
  .about-us li,
  .further-info li,
  .untitled li {
    display: none;
  }

  .mercedes h1,
  .benz-parts h1,
  .about-us h1,
  .further-info h1 {
    font-size: 12px !important;
    text-align: left;
    position: relative;
    left: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    width: 768px;
    line-height: 25px;
  }

  .mercedes i,
  .benz-parts i,
  .about-us i,
  .further-info i {
    position: relative;
    left: 40px;
  }

  .mercedes i,
  .benz-parts i,
  .about-us i,
  .further-info i,
  .untitled i {
    display: block;
  }

  .mercedes,
  .benz-parts,
  .about-us,
  .further-info,
  .untitled {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .untitled {
    left: 70px;
    top: 0px;
  }

  .legalCopyrights {
    height: 250px;
    width: 650px;
    left: 40px;
    top: 450px;
    flex-direction: column-reverse;
  }

  .legalCopyrights p {
    font-size: 12px;
    text-align: left;
  }

  .finalCaptions {
    position: relative;
    top: -70px;
    line-height: 0px;
    /* right: 0px; */
  }

  .legalSymbols {
    bottom: 70px;
  }

  .legalCopyrights i {
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 45px;
  }

  .closeGap,
  .privacyPolicy,
  .legalNotice,
  .cookies {
    position: relative;
    right: 0px;
  }

  .landscapeCaption {
    display: flex;
    justify-content: space-between;
    width: 250px;
  }

  .chat {
    color: white;
    font-size: 70px;
    position: fixed;
    z-index: 10;
    left: 600px;
    top: 400px;
  }

  .doughnut {
    height: 15px;
    width: 15px;
    top: 171px;
    left: -6.3px;
  }

  .donut2 {
    top: 211px;
  }

  .donut3 {
    top: 251px;
  }

  .donut4 {
    top: 291px;
  }
  .donut5 {
    top: 331px;
  }

  .ourCarMenu,
  .mobileMenu {
    position: relative;
    height: 350px;
    width: 520px;
    z-index: 2500;
    background: white;
    left: -420px !important;
    top: 100px;
    display: none;
    border-radius: 5px;
  }

  .tabletSlide {
    -webkit-animation: tabletSlide 0.5s ease-in-out;
    -moz-animation: tabletSlide 0.5s ease-in-out;
    -o-animation: tabletSlide 0.5s ease-in-out;
    animation: tabletSlide 0.5s ease-in-out;
  }

  @keyframes tabletSlide {
    from {
      left: -820px;
      opacity: 0%;
    }

    to {
      left: -420px;
      opacity: 100%;
    }
  }

  .backTabSlide {
    -webkit-animation: backTabSlide 0.5s ease-in-out;
    -moz-animation: backTabSlide 0.5s ease-in-out;
    -o-animation: backTabSlide 0.5s ease-in-out;
    animation: backTabSlide 0.5s ease-in-out;
  }

  @keyframes backTabSlide {
    from {
      left: -420px;
      opacity: 100%;
    }

    to {
      left: -820px;
      opacity: 0%;
    }
  }

  .ourPart,
  .topPart {
    height: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
  }

  .ourPart h1 {
    font-family: "Oxygen", serif;
    left: 0px;
    top: -10px;
    font-size: 16px;
    color: rgba(77, 73, 73, 0.795);
    font-weight: 100;
  }

  .topPart img {
    display: none;
  }

  .topPart .fa-search {
    visibility: hidden;
  }

  .ourPart i,
  .topPart i {
    color: black;
    position: relative;
    bottom: 10px;
    right: 5px;
    font-size: 30px;
  }

  .ourCarsList p,
  .mobileMenu p {
    display: block;
    color: black;
    font-family: "Oxygen", monospace;
  }
  .ourCarsList,
  .mobileList {
    background-color: white;
    height: 450px;
    padding: 20px;
    line-height: 30px;
  }

  .ourCarsList {
    line-height: 70px;
  }

  .mobileList i {
    color: black;
    font-size: 20px;
    position: relative;
    top: -31px;
    left: 220px;
  }

  .searchPage {
    width: 768px;
    height: 529px;
  }

  .searchPage img {
    left: 250px;
  }

  .exit {
    left: 650px;
  }

  .exit i {
    font-size: 30px;
  }

  .searchPage .fa-search {
    width: 40px;
    height: 40px;
    font-size: 20px;
    left: 50px;
    top: 42px;
  }

  .searchBar {
    width: 500px;
    height: 40px;
    left: 60px;
    top: 40px;
  }

  .chat {
    display: none;
  }
}
.shopFromLaptopSlide {
  -webkit-animation: shopFromLaptopSlide 1s ease-in-out;
  -moz-animation: shopFromLaptopSlide 1s ease-in-out;
  -o-animation: shopFromLaptopSlide 1s ease-in-out;
  animation: shopFromLaptopSlide 1s ease-in-out;
}

@keyframes shopFromLaptopSlide {
  from {
    top: -50px;
    opacity: 0%;
  }

  to {
    top: -150px;
    opacity: 100%;
  }
}

.agilityTabletSlide {
  -webkit-animation: agilityTabletSlide 1s ease-in-out;
  -moz-animation: agilityTabletSlide 1s ease-in-out;
  -o-animation: agilityTabletSlide 1s ease-in-out;
  animation: agilityTabletSlide 1s ease-in-out;
}

@keyframes agilityTabletSlide {
  from {
    top: 100px;
    opacity: 0%;
  }

  to {
    top: 0px;
    opacity: 100%;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  nav img {
    left: 120px;
  }

  nav i {
    font-size: 25px;
  }

  .topMenu {
    right: 330px;
  }

  .topSearch {
    right: -250px;
    bottom: 10px;
  }

  .third-nav {
    height: 30px;
    width: 950px;
    top: 20px;
  }

  .third-nav p {
    font-size: 13px;
  }

  .third-nav .fa-angle-down {
    font-size: 18px;
    left: -40px;
  }

  #item10,
  #item11,
  #item12 {
    right: 0px;
  }

  #item13,
  #item14 {
    display: block;
  }

  #item15 {
    display: none;
  }

  #item16 {
    display: block;
  }

  .hidden-menu {
    height: 35px;
    position: fixed !important;
  }

  .list1 i,
  .list2 i,
  .list3 i,
  .list4 i,
  .list5 i {
    font-size: 18px;
  }

  .list1 p,
  .list2 p,
  .list3 p,
  .list4 p,
  .list5 p {
    font-size: 16px;
  }

  .product-description {
    width: 515px;
    line-height: 40px;
  }

  .product-description h3 {
    font-size: 40px;
  }

  .purchase-info {
    width: 150px;
    height: 100px;
  }

  .purchase-info p {
    font-size: 15px;
    top: 5px;
    line-height: 25px;
    width: 100px;
  }

  .purchase-info i {
    top: 0px;
    left: 110px;
    font-size: 20px;
  }

  .hidden-nav {
    display: none;
  }

  .display-bulletPoint ul {
    font-size: 30px;
  }

  .pricing-info-container {
    position: relative;
    top: -150px;
    left: 30px;
  }

  .find-out h1 {
    position: relative;
    top: 30px;
    right: 20px;
    font-size: 30px;
  }

  .pricing-images {
    left: 150px;
  }

  .caption,
  .captionRight {
    left: 25%;
  }

  .button {
    left: 23%;
  }

  .buttonRight {
    left: 21%;
  }

  .shop-from-home {
    padding: 20px;
    margin-top: 30px;
    position: relative;
    top: -150px;
    left: 20px;
  }

  .right-content img {
    height: 240px;
    width: 430px;
    right: 60px;
  }

  .corner-search {
    height: 35px;
    width: 35px;
    right: 80px;
    bottom: 29px;
  }

  .corner-search i {
    font-size: 25px;
    position: relative;
    bottom: 1px;
    right: 1px;
  }

  .products-services {
    bottom: 150px;
  }

  .personalFinancePics img,
  .personalContactHire img,
  .personal-operating img {
    width: 300px;
  }

  .agilityAnim,
  .hirePurchaseAnim {
    position: relative;
    top: 0px;
  }

  .agility,
  .motor-insurance {
    position: relative;
    right: 30px;
  }

  .hire-purchase {
    position: relative;
    right: 15px;
  }

  .personal-operating {
    position: relative;
    right: 0px;
    top: -200px;
  }

  .personalContactHire {
    position: relative;
    right: 30px;
    bottom: 19px;
    left: 0px;
  }

  .plus1,
  .plus4 {
    left: 315px;
  }

  .plus2 {
    left: 295px;
  }

  .plus3 {
    left: 275px;
  }

  .genuine-info-container {
    width: 950px !important;
  }

  .genuine-info-container p {
    width: 320px;
  }

  .genuine-info-container img {
    height: 300px;
    width: 600px;
    left: 35px;
  }

  .genuine-corner-search {
    height: 35px;
    width: 35px;
    font-size: 25px;
    top: 265px;
    right: -257px;
  }

  .genuineButton {
    bottom: 55px;
    width: 230px;
  }

  .genuineButton p {
    left: 10px;
    top: 3px;
    font-size: 14px !important;
  }

  .cost-comparison {
    top: 0px;
    left: 95px;
  }

  .cost-title h3 {
    font-size: 30px;
  }

  .cost-compare h2 {
    font-size: 18px;
  }

  .costButton {
    width: 140px;
  }

  .footnote {
    left: 80px;
    width: 900px;
  }

  .footnoteAnim {
    top: 0px;
  }

  .tileUnder {
    left: 80px;
  }

  .tiles {
    left: 60px;
  }

  .tile {
    display: flex;
    width: 255px;
    height: 130px;
    padding: 15px;
  }

  .tile i {
    font-size: 45px;
  }

  .tile p {
    top: -7px;
    right: 2px;
    font-size: 18px;
  }

  .tile .fa-chevron-right {
    display: block;
    left: 146px;
    bottom: 33px;
  }

  .mobileRight4 {
    bottom: 10px !important;
  }

  .upButton {
    position: relative;
    left: 80px;
    bottom: 70px;
  }

  .upButton i {
    font-size: 25px;
  }

  .upButton p {
    font-size: 20px;
  }

  .sign-up {
    left: 90px;
    width: 800px;
  }

  .left-hand h3 {
    font-size: 18px;
  }

  .left-hand p {
    font-size: 14px;
  }

  .last-part {
    left: 20px;
    width: 800px;
  }

  .mercedes h1,
  .benz-parts h1,
  .about-us h1,
  .further-info h1 {
    font-size: 18px !important;
  }

  .mercedes i,
  .benz-parts i,
  .about-us i,
  .further-info i {
    font-size: 20px;
  }

  .untitled {
    font-size: 20px;
  }

  .chat {
    color: white;
    font-size: 70px;
    position: fixed;
    z-index: 10;
    left: 600px;
    top: 400px;
  }

  .doughnut {
    height: 15px;
    width: 15px;
    top: 172px;
    left: -10.3px;
  }

  .donut2 {
    top: 212px;
  }

  .donut3 {
    top: 252px;
  }

  .donut4 {
    top: 292px;
  }
  .donut5 {
    top: 332px;
  }

  .ourCarMenu,
  .mobileMenu {
    height: 500px;
    width: 1000px;
    left: -330px !important;
  }

  .mobileList i {
    left: 300px;
  }

  .searchPage {
    width: 1024px;
    height: 709px;
  }

  .searchPage img {
    left: 400px;
  }

  .exit {
    left: 850px;
  }

  .searchPage .fa-search {
    left: 118px;
  }

  .searchBar {
    width: 650px;
    left: 123px;
  }

  .chat {
    display: none;
  }
}
.shopFromTabletSlide {
  -webkit-animation: shopFromTabletSlide 1s ease-in-out;
  -moz-animation: shopFromTabletSlide 1s ease-in-out;
  -o-animation: shopFromTabletSlide 1s ease-in-out;
  animation: shopFromTabletSlide 1s ease-in-out;
}

@keyframes shopFromTabletSlide {
  from {
    top: -200px;
    opacity: 0%;
  }

  to {
    top: -300px;
    opacity: 100%;
  }
}

.agilityTabletSlide {
  -webkit-animation: agilityTabletSlide 1s ease-in-out;
  -moz-animation: agilityTabletSlide 1s ease-in-out;
  -o-animation: agilityTabletSlide 1s ease-in-out;
  animation: agilityTabletSlide 1s ease-in-out;
}

@keyframes agilityTabletSlide {
  from {
    top: 100px;
    opacity: 0%;
  }

  to {
    top: 0px;
    opacity: 100%;
  }
}

.personalOperatingSlide {
  -webkit-animation: personalOperatingSlide 1s ease-in-out;
  -moz-animation: personalOperatingSlide 1s ease-in-out;
  -o-animation: personalOperatingSlide 1s ease-in-out;
  animation: personalOperatingSlide 1s ease-in-out;
}

@keyframes personalOperatingSlide {
  from {
    top: -100px;
    opacity: 0%;
  }

  to {
    top: -200px;
    opacity: 100%;
  }
}

.sticky {
  position: fixed;
  top: 0px;
}

/* COLOURS: */

/* color: rgba(14, 165, 235, 0.897); */
/* background: rgba(102, 100, 100, 0.329); */
